body {
  background-color: #f2f2f2;
  font-size: 16px;
  color: #fff;

}

#header-nav {
  background-color: #777777;
}

#logo-img {
  background: url("../images/food_logo_lg.png") no-repeat;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.navbar-brand h1 {
  font-size: 25px;
  color: #fff;
  margin-top: 5px;
}

.navbar-brand a:hover, .navbar-brand a:foucus {
  text-decoration: none;
}
#nav-list {
  margin-top: 5px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#menu-title {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
#menu-title span{
  font-size: 30px;
  color: #121212;
}
#list {
  background-color: #f4d092;
  text-align: center;
  position: relative;
}
#list div {
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}